<div class="container" *ngIf="!flip; else flipBlock">
  <div class="container__left">
    <ng-template ngFor let-card [ngForOf]="cards" let-isLast="last">
      <app-small-card
        *ngIf="!isLast"
        [title]="card.title"
        [cover]="card.cover"
        [id]="card.id"
      />
    </ng-template>
  </div>
  <div class="container__right">
    <app-big-card
      [title]="lastCard.title"
      [cover]="lastCard.cover"
      [description]="lastCard.description"
      [id]="lastCard.id"
      />
    </div>
  </div>

  <ng-template #flipBlock>
    <div class="container">
      <div class="container__left">
        <app-big-card
        [title]="firstCard.title"
        [cover]="firstCard.cover"
        [description]="firstCard.description"
        [id]="firstCard.id"
        />
      </div>
      <div class="container__right">
        <ng-template ngFor let-card [ngForOf]="cards" let-isFirst="first">
          <app-small-card
          *ngIf="!isFirst"
          [title]="card.title"
          [cover]="card.cover"
          [id]="card.id"
        />
      </ng-template>
    </div>
  </div>
</ng-template>
