<app-menu-title></app-menu-title>
<div class="container">
	<div class="container__left">
		<app-big-card
      title="Lorem ipsum dolor sit amet"
      description="Cras quis pulvinar nulla. Donec aliquam, diam a sagittis suscipit, arcu libero lobortis orci, imperdiet consequat ligula massa id est."
      cover="https://cataas.com/cat"
      />
	</div>
	<div class="container__right">
		<app-small-card
      title="Lorem ipsum dolor sit amet"
      cover="https://cataas.com/cat"
      />
		<app-small-card
      title="Lorem ipsum dolor sit amet"
      cover="https://cataas.com/cat"
      />
		<app-small-card
      title="Lorem ipsum dolor sit amet"
      cover="https://cataas.com/cat"
      />
	</div>
</div>
